@using Microsoft.Extensions.Options
@using PropagatingKindness.Configuration
@* @model PropagatingKindness.Models.Blog.ListPostsViewModel *@
<div class="container my-5">
    <!-- Blog Post Item -->
    <div class="row mb-4">
        <div class="col-md-3 mb-4">
            <div class="advert-card-image-container position-relative ratio ratio-1x1 float-end" style="width:150px">
                <img src="https://propagatekindnessimgs.blob.core.windows.net/adverts/d9b5111895644bf0ba32a35c32892a6b.jpg" alt="Blog Image" class="img-fluid rounded float-end">
            </div>
        </div>
        <div class="col-md-9 mb-4">
            <h3>Yet Another Blog Post</h3>
            <p class="text-muted">Published on: <span>December 19, 2024</span></p>
            <p class="text-secondary">This is a sample description for the third blog post. Customize it as you like.</p>
        </div>
        <div class="col-md-3 mb-4">
            <div class="advert-card-image-container position-relative ratio ratio-1x1 float-end" style="width:150px">
                <img src="https://propagatekindnessimgs.blob.core.windows.net/adverts/3ab177c458c3445881c03d156beef71e.jpg" alt="Blog Image" class="img-fluid rounded float-end">
            </div>
        </div>
        <div class="col-md-9 mb-4">
            <h3>Yet Another Blog Post</h3>
            <p class="text-muted">Published on: <span>December 19, 2024</span></p>
            <p class="text-secondary">This is a sample description for the third blog post. Customize it as you like.</p>
        </div>

        @* @foreach (var post in Model.ListPosts)
        {
            <div class="col-md-3 mb-4">
                <div class="advert-card-image-container position-relative ratio ratio-1x1 float-end" style="width:150px">
                    <a asp-action="View" asp-controller="Blog" asp-route-id="@post.Id">
                        <img src="@post.Photo" alt="Blog Image" class="img-fluid rounded float-end">
                    </a>
                </div>
            </div>
            <div class="col-md-9 mb-4">
                <h3>@post.Title</h3>
                <p class="text-muted">Published on: <span>@post.PublicationDate</span></p>
                <p class="text-secondary">@post.ShortDescription</p>
            </div>
        } *@
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>