@using Microsoft.Extensions.Options
@using PropagatingKindness.Configuration
@model PropagatingKindness.Models.Advert.ViewAdvertViewModel
<div class="container mt-4">
    <div class="row">
        <!-- Thumbnails Bar -->
        <div class="col-md-2 thumbnails-bar">
            @foreach(var photo in Model.Photos)
            {
                <div class="thumbnail">
                    <img src="@photo" alt="Thumbnail 1">
                </div>
            }
        </div>

        <!-- Main Image and Advert Details -->
        <div class="col-md-10 d-flex">
            <!-- Main Image -->
            <div class="col-md-6 me-3 main-image-container">
                <img src="@Model.Photos[0]" alt="Main Advert Image" class="main-image" id="main-advert-image">
                @if (Model.Status == 2)
                {
                    <div class="advert-card-ribbon bg-purple bg-gradient" style="top: 15vw">
                        <span>Promissed</span>
                    </div>
                }
            </div>

            <!-- Advert Details -->
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <p class="text-muted">@Model.Description</p>
                <div class="d-flex align-items-center mb-3">
                    <img src="@Model.UserPhoto" alt="User Photo" class="user-photo">
                    <div>
                        <h5 class="mb-0">@Model.UserName</h5>
                        <small class="text-muted">Postcode @Model.UserPostCode</small>
                    </div>
                </div>
                <a asp-action="WithAdvert" asp-controller="Chat" asp-route-id="@Model.AdvertId" class="btn btn-primary">Send Message</a>
            </div>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>